
.tableau {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;

}

.tableau th, .tableau td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

.tableau thead {
  background-color: #555;
  color: red;
}
